body {
  background-color: green;
}

.card {
  position: relative;
  margin: auto;
  width: 300px;
  height: 500px;
  background-color: white;
  border-radius: 6px;
  border: 1px solid black;
  font-size: 120px;
}

.first {
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
}

.second {
  position: absolute;
  font-style: bold;
  top: 38%;
  left: 40%;
}
.last {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 10px;
}
